{% load socialaccount %}
<html>
  <head>
    <title>Google Registration</title>
  </head>
  <body>
  
  {% if user.is_authenticated %}
  <h1>My Google Login Project</h1>
  <p>Welcome, {{ user.username }} !</p><br/>
  <p>Email, {{ user.email }} !</p><br/>
  <p>Firstname, {{ user.first_name }} !</p><br/>
  <p>LastName, {{ user.last_name }} !</p><br/>
 
  {% else %}
  <h1>My Google Login Project</h1>
  <a href="{% provider_login_url 'google' %}">Login with Google</a>
  {% endif %}

  </body>
</html>